---
# Configure linting options for this project.
# (disable linting by setting the `FormatStyle` option to `none`)

# Specify the style for formatting code
# - file: Use this .clang-format file
# - none: Disable formatting
FormatStyle: file

# Disabled checks
# - bugprone-easily-swappable-parameters: project preference
# - bugprone-narrowing-conversions: not necessary in single-platform project
# - cppcoreguidelines-avoid-magic-numbers: alias (readability)
# - cppcoreguidelines-narrowing-conversions: alias (bugprone)
# - cppcoreguidelines-non-private-member-variables-in-classes: alias (misc)
# - cppcoreguidelines-pro-type-vararg: alias (hicpp)
# - cppcoreguidelines-special-member-functions: not necessary in such a small project
# - google-readability-todo: not necessary in single-user project
# - hicpp-special-member-functions: alias (cppcoreguidelines)
# - hicpp-vararg: unavoidable with outdated libraries such as DxLib
# - misc-include-cleaner: project preference
# - misc-non-private-member-variables-in-classes: too strict
# - modernize-use-trailing-return-type: preference
# - performance-avoid-endl: endl is essentially required for cout/cerr in threads

# List the checks we will run
Checks: -*,
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    hicpp-*,
    misc-*,
    modernize-*,
    performance-*,
    readability-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-narrowing-conversions,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-special-member-functions,
    -google-readability-todo,
    -hicpp-special-member-functions,
    -hicpp-vararg,
    -misc-include-cleaner,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-trailing-return-type,
    -performance-avoid-endl

# Don't turn all the warnings from the above checks into errors
# (since this project was inherited filled with outdated/legacy code practices,
# forcing you to resolve them before it can be built would be a waste of time)
WarningsAsErrors: ''

# Specific options for the aforementioned checks
CheckOptions:
  - { key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals,  value: true }
  - { key: readability-identifier-length.IgnoredVariableNames,        value: x|y }
  - { key: readability-identifier-length.MinimumParameterNameLength,  value: 2   }
  - { key: readability-identifier-length.MinimumVariableNameLength,   value: 2   }
  - { key: readability-identifier-naming.NamespaceCase,            value: lower_case }
  - { key: readability-identifier-naming.ClassCase,                value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,               value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,    value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,             value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,             value: lower_case }
  - { key: readability-identifier-naming.ConstexprVariablePrefix,  value: k          }
  - { key: readability-identifier-naming.ConstexprVariableCase,    value: CamelCase  }
  - { key: readability-identifier-naming.PrivateMemberSuffix,      value: _          }
  - { key: readability-identifier-naming.ProtectedMemberSuffix,    value: _          }
  - { key: readability-identifier-naming.MacroDefinitionCase,      value: UPPER_CASE }
  - { key: readability-magic-numbers.IgnoredIntegerValues,  value: 1; 2; 3; 4; 5; 6; 7; 8; 9; 10; 50; 100; 150; 255; 1000; 2000 }
